@import url('https://fonts.googleapis.com/css?family=Gochi+Hand|Montez&display=swap');

/*Estilos Generales*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    padding: 10px;
    height: 100vh;
    background-color: #d0d0d0;
}


/*Estilos Header*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 10px;
    z-index: 100;
    transition: all 0.1s ease;
}

.scroll-header {
    padding: 15px;
    background: #0f0f0f;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 3px 10px #dfdfdf;
}


/*Estilo Logo*/

#logo {
    position: absolute;
    padding: 10px;
    font-family: 'Montez', 'sans-serif';
    text-shadow: 3px 3px 5px rgba(255, 59, 201, 1);
    user-select: none;
    transition: all .1s ease-in-out;
}

.no-scroll {
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    text-align: center;
    color: black;
}

.scroll-logo {
    top: 0;
    left: 0;
    font-size: 2.5rem;
    text-align: left;
    color: white;
}

.no-scroll:hover {
    font-size: 3.2rem;
}

.scroll-logo:hover {
    font-size: 2.7rem;
}


/*Estilos Boton menu*/

#menu-boton {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    font-family: 'Gochi Hand', 'sans-serif';
    font-size: 1rem;
    text-align: center;
    line-height: 3rem;
    text-shadow: 3px 3px 3px rgba(255, 59, 201, .7);
    border-radius: 30%;
    user-select: none;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

#menu-boton:hover {
    color: white;
    box-shadow: 3px 3px 100px rgba(255, 59, 201, .5);
    background-color: black;
    border: 2px solid white;
}

#menu-boton.scroll-menu-boton {
    width: 45px;
    height: 45px;
    top: 18px;
    font-size: 0.9rem;
    line-height: 2.7rem;
    color: white;
}

#menu-boton.menu-click {
    color: white;
    background: black;
    border: 2px solid white;
    box-shadow: 3px 3px 100px rgba(255, 59, 201, .5);
}


/*Estilos Menu*/

ul.menu {
    position: absolute;
    top: 170px;
    right: 20px;
    background: rgba(223, 223, 223, .7);
    border-radius: 15px;
    transform: translateX(200px);
    transition: all .3s ease-in;
}

ul.scroll-menu {
    top: 85px;
    right: 10px;
    border-radius: 15px 0 0 15px;
}

ul.mostrar-menu {
    transform: translateX(0);
}

.menu li {
    padding: 15px 30px;
    font-family: 'Gochi Hand', 'sans-serif';
    font-size: 1.1rem;
    text-align: center;
    color: rgba(0, 0, 0, .6);
    user-select: none;
    transition: all .3s ease;
}

.menu li:first-child {
    border-radius: 15px 15px 0 0;
}

.menu li:last-child {
    border-radius: 0 0 15px 15px;
}

.menu li:hover {
    font-family: 'Gochi Hand', 'sans-serif';
    color: rgba(0, 0, 0, 1);
    background: #ffffff;
    cursor: pointer;
}

.menu li.scroll-li:first-child {
    border-radius: 15px 0 0 0;
}

.menu li.scroll-li:last-child {
    border-radius: 0 0 0 15px;
}


/*Estilos Secciones*/

section {
    margin-bottom: 20px;
    height: calc(100% - 85px);
    color: black;
    text-shadow: 3px 3px 3px rgba(255, 59, 201, .7);
    background: #efefef;
    border-radius: 10px;
}

section:nth-of-type(even) {
    color: white;
    text-shadow: 3px 3px 3px rgba(255, 59, 201, .7);
    background: #0f0f0f;
}

section>div {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 10fr;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
}

section>div>h1 {
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 10px 0;
    font-family: 'Montez', 'sans-serif';
    font-size: 4rem;
    text-align: center;
}

section>div>p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    font-family: 'Gochi Hand', 'sans-serif';
    font-size: 1.5rem;
    text-align: center;
}

section>footer {
    margin-bottom: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 40px;
    width: 100%;
}

section>footer>span {
    font-family: 'Gochi Hand', 'sans-serif';
    font-size: 1.3rem;
    transition: all .5s ease;
}

section>footer>span:hover {
    font-size: 1.5rem;
    user-select: none;
    cursor: pointer;
}


/*Estilos Banner*/

#banner {
    padding: 0;
    height: 100%;
}

img.img-banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 45% 10%;
    border-radius: 10px;
}


/*Estilos Bienvenida*/

#bienvenida>div>p {
    padding: 50px;
}


/*Estilos Productos*/

.contenedor-productos {
    position: relative;
    display: grid;
    padding: 0 50px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    width: 100%;
    height: 100%;
}

.contenedor-producto {
    justify-self: center;
    align-self: center;
    height: 100%;
    width: 100%;
    max-height: 115px;
    max-width: 115px;
    border-radius: 40%;
    opacity: 85%;
    border: 2px solid rgba(255, 59, 201, .5);
    transition: all .5s ease-in-out;
}

.contenedor-producto:hover {
    opacity: 100%;
    border: 2px solid rgba(255, 59, 201, 1);
    transform: translateY(-10px);
    cursor: pointer;
}

.contenedor-producto>img {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 40%;
    object-fit: cover;
}

.contenedor-producto>img:nth-of-type(3) {
    object-position: 0 50%;
}


/*Estilos Contacto*/

.contenedor-contacto {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.contenedor-contacto h3 {
    font-family: 'Montez', 'sans-serif';
    padding: 10px;
    font-size: 1.8rem;
    text-align: center;
}

.contenedor-contacto a {
    color: rgba(255, 255, 255, .7);
    font-family: 'Gochi Hand', 'sans-serif';
    font-size: 1.2rem;
    transition: all .5s ease;
}

.contenedor-contacto a:hover {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 1);
}

.contenedor-redes {
    width: 70%;
    margin-bottom: 10px;
}

.separador {
    display: block;
    height: 1px;
    margin: 0 30px;
    border-top: 1px solid white;
    box-shadow: 1px 1px 1px rgba(255, 59, 201, 1);
}

.contenedor-tienda {
    width: 70%;
}

.redes {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.red {
    color: rgba(255, 255, 255, .7);
    padding: 10px 20px;
}


/*Modal*/

.contenedor-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icono-cerrar {
    position: absolute;
    top: 20px;
    right: 20px;
}

#img-modal {
    display: block;
    min-width: 70%;
}


/*Media Queries*/

@media (min-width: 400px) and (min-height:650px) {
    .contenedor-producto {
        max-width: 130px;
        max-height: 130px;
    }
    .contenedor-contacto h3 {
        font-size: 2rem;
    }
    .contenedor-contacto a {
        font-size: 1.5rem;
    }
    .contenedor-contacto a:hover {
        font-size: 1.7rem;
    }
}

@media (min-width: 400px) and (min-height:800px) {
    .contenedor-productos {
        grid-gap: 0px 30px;
    }
    .contenedor-producto {
        max-width: 150px;
        max-height: 150px;
    }
}

@media (min-width: 760px) {
    .no-scroll {
        font-size: 3.5rem;
    }
    .scroll-logo {
        top: -10px;
        font-size: 3.5rem;
    }
    .no-scroll:hover {
        font-size: 3.7rem;
    }
    .scroll-logo:hover {
        font-size: 3.7rem;
    }
    .contenedor-productos {
        grid-template-columns: repeat(3, 1fr);
    }
    .contenedor-producto {
        max-width: 120px;
        max-height: 120px;
    }
    .contenedor-contacto h3 {
        font-size: 3rem;
    }
    .contenedor-contacto a {
        font-size: 2.5rem;
    }
    .contenedor-contacto a:hover {
        font-size: 2.7rem;
    }
}

@media (min-width: 1000px) {
    section>div {
        padding: 80px;
    }
    section>div>p {
        font-size: 2rem;
    }
    .contenedor-producto {
        max-width: 170px;
        max-height: 170px;
    }
    .contenedor-contacto h3 {
        font-size: 3rem;
    }
    .contenedor-contacto a {
        font-size: 2.5rem;
    }
    .contenedor-contacto a:hover {
        font-size: 2.7rem;
    }
}

@media (min-width: 1600px) {
    section>div {
        padding: 80px;
    }
    .no-scroll {
        font-size: 4rem;
    }
    .scroll-logo {
        font-size: 4rem;
    }
    .no-scroll:hover {
        font-size: 4.2rem;
    }
    .scroll-logo:hover {
        font-size: 4.2rem;
    }
    section>div>p {
        font-size: 2rem;
    }
    .contenedor-producto {
        max-width: 250px;
        max-height: 250px;
    }
    .contenedor-contacto h3 {
        font-size: 3rem;
    }
    .contenedor-contacto a {
        font-size: 2.5rem;
    }
    .contenedor-contacto a:hover {
        font-size: 2.7rem;
    }
}